:root {
    --box-shadow: -5px 5px 10px grey;
}

body {
    margin: 0;
}

.container {
    width: 80%;
    margin: auto; /* horizontally center the element within the boundary of its parent. */
}

.btn {
    background: orange;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    text-align: center;
}

/* global */
.global {
    background: rgba(255, 119, 0, 0.432);
}

.global > div {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

/* top navbar / header */
header {
    background: lightblue;
}

header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    /* color: green; */
}

header ul {
    display: flex;
    list-style-type: none;
}

header ul li {
    margin-left: 16px;
    font-weight: bolder;
    font-size: 20px;
}

header ul li:hover {
    cursor: pointer;
    background-color: red;
    border-radius: 5px;
    transform: scale(1.5);
}

/* logo */
.logo {
    background: white;
    /* color: lightblue; */
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-weight: 900;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo div {
    border: 3px dotted lightblue;
    width: 70px;
    height: 70px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* hero section */
.hero {
    background: url(./mountain-pic.jpeg) no-repeat center;
    background-size: cover;
    min-height: 60vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    background: rgba(0, 0, 0, 0.700);
    color: white;
    width: 500px;
    padding: 32px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-content hr {
    width: 100%;
}

/* latest post / article section */
.main {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.articles {
    /* background: red; */
    width: 66%;
}

.side-links {
    /* background: blue; */
    width: 34%;
}

article {
    display: flex;
    gap: 16px;
    /* box-shadow: -5px 5px 10px grey; */
    box-shadow: var(--box-shadow);
    padding: 20px 16px;
    border-radius: 10px;
    margin-top: 16px;
}

.art-img {
    width: 350px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    color: red;
}

article .btn {
    float: right;
}

/* side links */
.country {
    background: yellow;
    padding: 16px;
    border-radius: 5px;
    margin-bottom: 32px;
    margin-top: 16px;
}

.date {
    background: lightgreen;
    padding: 16px;
    border-radius: 5px;
}

/* recc */
.recc {
    background: yellowgreen;
    margin-top: 64px;
    padding: 46px 0;
}

.card-list {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    gap: 16px;
}

.card {
    width: 350px;
    box-shadow: var(--box-shadow);
    background: white;
    padding-bottom: 32px;
    border-radius: 16px;
    /* overflow: hidden; */
    flex-grow: 1;
}

/* subscribe form */
.subs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}

.subs input {
    line-height: 32px;
    border-radius: 8px;
    border: 1px solid grey;
    margin-right: 16px;
}

.card img{
    border-radius: 16px 16px 0 0;
}

/* footer */
.footer {
    background: black;
    color: white;
    padding: 50px;
    text-align: center;
    margin-top: 16px;
}

/* media query */

/* max-width: anything under given pixels */
/* min-width: anything above given pixels */
/* if we are using max-width, place bigger screen size at top */
/* if we are using min-width, place smaller screen size at top */

/* tablets */
/* @media (max-width: 992px) {
    .global {
        background: red;
    }
} */

/* phones */
/* @media (width > 768px) { */
/* @media (width > 768px) { */
/* @media (min-width: 768px) { */
/* @media (max-width: 768px) {

    .global {
        background: black;
    }
    
} */

/* media query for tablets */
@media (max-width: 992px) {
    .main {
        display: flex;
        flex-direction: column;
    }

    .articles {
        width: 100%;
    }

    .side-links {
        width: 100%;
        display: flex;
        gap: 32px;
    }

    .country, .date {
        width: 50%;
        height: 200px;
        margin-top: 32px;

        /* for contents inside the country and date divs */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* media query for phones */
@media (max-width: 768px) {
    article {
        display: flex;
        flex-direction: column;
    }

    .art-img, .title {
        width: 100%;
    }

    .art-img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        overflow: hidden;
    }

    article .btn {
        width: 100%;
    }

    .side-links {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .country, .date {
        width: 100%;
    }
}